services:
  mysql:
    image: mysql:8.0
    container_name: tw-mysql
    restart: unless-stopped
    environment:
      DB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - tw-network
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "root",
          "-p${DB_ROOT_PASSWORD}",
        ]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: tw-redis
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - tw-network
  # 3. Express Backend
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tw-backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: development
      PORT: 3000

      DB_HOST: mysql
      DB_PORT: 3306
      REDIS_HOST: redis
      REDIS_PORT: 6379

    # 소스 코드 변경 시 자동 반영을 위한 볼륨 연결
    volumes:
      - ./:/app
      - /app/node_modules

    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - tw-network

    command: npm run dev

volumes:
  mysql_data:

networks:
  tw-network:
    driver: bridge
